@font-face {
    font-family: 'iceJaram-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/iceJaram-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    background-color: #F4F6F7;
}

.header{
    background-color: #F4F6F7;
    display: inline-block;
    width: 100%;
    max-height: 20%;
    box-shadow: 0 7px 8px -2px #ededed;


}

#name{
    text-align: center;
    font-size: 40px;
    font-family: 'iceJaram-Rg';
    font-size: 32px;
    margin: 0.8%;
    color: black
    
}


#tag{
    text-decoration-line: none;
    text-decoration-color: rgb(0, 0, 0);
}

.content1{
    font-family: 'GyeonggiBatang';
    text-align: center;
    margin-top: 3%;

}

#q{
    margin-top: 30px;
    font-family: 'GyeonggiBatang';
}


#line{
    color: #c2c2c2;
    font-size: 13px;
    font-family: 'GyeonggiBatang';
    margin-top: -5px;
}

.content2{
    position: absolute;
    left: 10%;
    right: 10%;
    line-height: 25px;
}

#q1{
    font-family: 'iceJaram-Rg';
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
   
}

#a1{
    font-family: 'GyeonggiBatang';
    font-size: 14px;
    margin-top: -10px;
}

#q2{
    padding-top: 20px;
    font-family: 'iceJaram-Rg';
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
   
}

#a2{
    font-family: 'GyeonggiBatang';
    font-size: 14px;
    margin-top: -10px;
}

#q3{
    padding-top: 20px;
    font-family: 'iceJaram-Rg';
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
   
}

#a3{
    font-family: 'GyeonggiBatang';
    font-size: 14px;
    margin-top: -10px;

}

#m{
    font-size: 13px;
    font-family: 'GyeonggiBatang';
    text-align: center;
    padding-top: 25px;
    color: #909090;
}